.caixa1{
	width: 60px;
	height: 30px;
	background-color: red;
}

.caixa2{
	width: 60px;
	height: 30px;
	background-color: green;
}

.caixa3{
	width: 60px;
	height: 30px;
	background-color: blue;
}

.caixa4{
	width: 60px;
	height: 30px;
	background-color: yellow;
}

.caixa5{
	width: 60px;
	height: 30px;
	background-color: hotpink;
}