body{
    background: rgb(247,222,154);
    background: linear-gradient(90deg, rgba(247,222,154,1) 0%, rgba(230,135,228,1) 52%, rgba(164,240,255,1) 100%);
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

li {
    list-style-type: none;
}

button{
    padding: 1vw;
    border-radius: 6px;
    margin: 5px;
}

.row{
    width: 600px;
}

.botoes{
    display: flex;
    justify-content: center;
}
    
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divfilmes{
    display: flex;
    align-items: center;
}

.alinhar{
    display: flex;
    align-items: center;
}


.col-25 {
    display: flex;
    flex-direction: row-reverse;
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}